.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0 15px;
    background-color: #0E79B2;
}

.navbarLinks {
    display: flex;
    align-items: center;
    color: white;
}